.post-wrapper {
    display: flex;
}

.post-container {
    width: 100%;
    background-color: var(--color-foreground);
    margin-bottom: var(--spacing-2);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-2);
}

.post-title {
    color: var(--color-text-title);
}

.post-image-container {
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius-2);
}

.post-image-container .post-image {
    width: 100%;
}